<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" >
    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select placeholder="">
        <ion-select-option value="f">Bebidas</ion-select-option>
        <ion-select-option value="m">Lanche</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Preço</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  
    <!-- Foto -->
    <div class="ion-margin-vertical">
      <ion-card>
        <img src="https://source.unsplash.com/sc5sTPMrVfk/640x531" />
        <ion-card-content>
          <ion-button color="danger" expand="block" fill="outline">
            <ion-icon slot="start" name="trash"></ion-icon>
            Remover foto
          </ion-button>
        </ion-card-content>
      </ion-card>
  
      <div class="ion-text-center">
        <ion-button color="medium" size="large">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          Adicionar uma foto
        </ion-button>
      </div>
    </div>
  
    <ion-button type="submit" class="ion-margin-vertical" color="primary" expand="block">
      Salvar
    </ion-button>

  </form>

</ion-content>