<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="products.length == 0" class="ion-padding ion-text-center">
    Nenhum produto encontrado. <br />Clique em adicionar para incluir um novo produto
  </p>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <ion-img *ngIf="product.photoUrl" [src]="product.photoUrl"></ion-img>        
      </ion-thumbnail>
      <ion-label>
        <h1 class="ion-text-wrap">{{product.name}}</h1>
        <small>{{product.category.name}}</small>
        <p class="text-wrap">{{product.description}}</p>

        <ion-text color="success">
          <p>{{product.price | currency:'BRL'}}</p>
        </ion-text>

        <!-- Action buttons -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="secondary" (click)="remove(product)" >
                <ion-icon slot="start" name="trash"></ion-icon>
                Remover
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="secondary" [routerLink]="['edit', product._id]" >
                <ion-icon slot="start" name="pencil"></ion-icon>
                Editar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['/cardapio/new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>