<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input></ion-input>
    </ion-col>
    <ion-col>
      <ion-label position="floating">Taxa</ion-label>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-button expand="full" color="secondary">Adicionar area</ion-button>
  </ion-item>
</ion-content>
