<ion-header>
  <ion-toolbar>
    <ion-title>horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h2>Dias da semana</h2>
  <ion-item>
    <ion-label>De</ion-label>
    <ion-select value="Dom" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="Dom">Dom</ion-select-option>
      <ion-select-option value="Seg">Seg</ion-select-option>
      <ion-select-option value="Ter">Ter</ion-select-option>
      <ion-select-option value="Qua">Qua</ion-select-option>
      <ion-select-option value="Qui">Qui</ion-select-option>
      <ion-select-option value="Sex">Sex</ion-select-option>
      <ion-select-option value="Sab">Sab</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Até</ion-label>
    <ion-select value="Dom" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="Dom">Dom</ion-select-option>
      <ion-select-option value="Seg">Seg</ion-select-option>
      <ion-select-option value="Ter">Ter</ion-select-option>
      <ion-select-option value="Qua">Qua</ion-select-option>
      <ion-select-option value="Qui">Qui</ion-select-option>
      <ion-select-option value="Sex">Sex</ion-select-option>
      <ion-select-option value="Sab">Sab</ion-select-option>
    </ion-select>
  </ion-item>

  <h1>Horários</h1>
  <ion-item>
    <ion-label>De</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Até</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-button expand="full" color="secondary">Adicionar outro horário</ion-button>
  </ion-item>

</ion-content>
