<ion-header>
  <ion-toolbar>
    <ion-title>Endereço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-label position="floating">UF</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cep</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Logradouro</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Bairro</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Complemento</ion-label>
    <ion-textarea rows="6" cols="20"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-button expand="full" color="secondary">Salvar</ion-button>
  </ion-item>


</ion-content>
