<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <ion-item>
      <ion-label position="stacked">Bairro</ion-label>
      <ion-input [(ngModel)]="deliveryModel.neighborhood" name="neighborhood" #neighborhood="ngModel" required minlength="5"></ion-input>
    </ion-item>
    <ion-item *ngIf="neighborhood.invalid && (neighborhood.dirty || neighborhood.touched)">
      <ion-label color="danger" *ngIf="neighborhood.errors.required">Esse campo é obrigatório</ion-label>
      <ion-label color="danger" *ngIf="neighborhood.errors.minlength">Informe pelo menos 5 letras</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tempo de entrega (minutos)</ion-label>
      <ion-input [(ngModel)]="deliveryModel.timeToDelivery" name="timeToDelivery" #timeToDelivery="ngModel" type="number" min="0" required></ion-input>
    </ion-item>
    <ion-item *ngIf="timeToDelivery.invalid && (timeToDelivery.dirty || timeToDelivery.touched)">
      <ion-label color="danger" *ngIf="timeToDelivery.errors.required">Esse campo é obrigatório</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Entrega grátis?</ion-label>
      <ion-checkbox [(ngModel)]="deliveryModel.free" name="free" slot="start" (ionChange)="onFreeCheckboxChange()"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor da entrega</ion-label>
      <ion-input [(ngModel)]="deliveryModel.value" name="value" type="number" min="0" [disabled]="deliveryModel.free"></ion-input>
    </ion-item>

    <ion-button type="submit" class="ion-margin-vertical" color="primary" expand="block" [disabled]="form.form.invalid">
      Salvar
    </ion-button>
  </form>
</ion-content>