<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Restaurante</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="profile">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Perfil Restaurante</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="address">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Endereço</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hours">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Horários</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


<!--
  <ion-list>  
    <ion-item>
      <ion-label position="floating">NOME DO RESTAURANTE</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">TELEFONE DE CONTATO</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DESCRIÇÃO</ion-label>
      <ion-textarea rows="6" cols="20" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PEDIDO MÍNIMO</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
      
    
    </ion-list>

-->
