<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">Dia da semana</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Hora inicio</ion-label>
      <ion-datetime displayFormat="HH:mm" cancelText="Cancelar" doneText="Selecionar"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora fim</ion-label>
      <ion-datetime displayFormat="HH:mm" cancelText="Cancelar" doneText="Selecionar"></ion-datetime>
    </ion-item>

    <ion-button type="submit" class="ion-margin-vertical" color="primary" expand="block">
      Salvar
    </ion-button>
  </form>
</ion-content>